


.experiment-credentials{
 font-size:15px;
 
}


.course-credentials{
 margin-left:2em;
 margin-top: 2em;


}
.submission{
margin-top: 2em;


}

.sessional-credential{
 
 margin-left:25em;
 margin-top: -25em;

}

.submission{

margin-left:2em;


}

.date-submission{
margin-top:2em;
margin-left:2em;



}